@keyframes heart {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

// Opacity et sur la fin translateY
@keyframes menu-display-effect {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  70% {
    opacity: .3;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
