@keyframes heart {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes explore-btn {
  from {
    background: linear-gradient(map-get($ohmyfood-theme, secondary), map-get($ohmyfood-theme, primary));
  }

  to {
    background: linear-gradient(lighten(map-get($ohmyfood-theme, secondary), 5), lighten(map-get($ohmyfood-theme, primary), 5));
  }
}
