@keyframes heart {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes menu-display-effect {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  70% {
    opacity: .3;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes overlay {
  from {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
  70% {
    opacity: .9;
  }
  99% {
    z-index: 1000;
  }
  to {
    visibility: hidden;
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
