// Home location
.location {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: $global-spacing;
  background-color: map-get($ohmyfood-theme, medium-gray);

  &__icon {
    margin-right: 1.5rem;
  }

  &__city {
    margin: 0;
    font-weight: 500;
  }
}
// Home Hero
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: calc($global-spacing *2);
  background-color: map-get($ohmyfood-theme, light-gray);

  &__title {
    margin: 0;
    font-weight: 700;
  }

  &__content {
    font-weight: 300;
  }
}

// How to
.howto-wrapper {
  padding: calc($global-spacing *2) $global-spacing;
}

.howto {
  display: flex;
  flex-direction: column;
  gap: calc($global-spacing * 1.5);
  padding: 0;
  counter-reset: howto;

  &__item {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: $global-spacing;
    padding: calc($global-spacing * .5);
    counter-increment: howto;
    box-shadow: 2px 5px 1rem rgba(0, 0, 0, .15);
    border-radius: $border-radius;
    background-color: map-get($ohmyfood-theme, light-gray);
    transition: background-color ease-in-out 200ms;

    &:hover,
    &:focus,
    &:active {
      background-color: lighten(map-get($ohmyfood-theme, primary), 30);

      i {
        color: map-get($ohmyfood-theme, primary);
      }
    }

    &::before {
      content: counter(howto);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: -1rem;
      width: calc($global-spacing * 1.5);
      height: calc($global-spacing * 1.5);
      background-color: map-get($ohmyfood-theme, primary);
      color: $white;
      border-radius: 50%;
      font-size: .8rem;
    }

    &-icon {
      font-size: 1.2rem;
      color: lighten(map-get($ohmyfood-theme, dark-gray), 30%);
      padding: 0 calc($global-spacing * 1.5);
      transition: color ease-in-out 200ms;
    }

    &-content {
      margin: calc($global-spacing * 1.2) 0;
    }
  }
}

// Restaurants
.restaurants-wrapper {
  padding: calc($global-spacing *2) $global-spacing;
  background-color: map-get($ohmyfood-theme, light-gray);
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: $global-spacing;


  &__item {
    text-decoration: none;
    color: $black;

    &-card {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: $border-radius;
      box-shadow: 2px 5px 1rem rgba(0, 0, 0, .15);

      &-img {
        height: $card-height;
        border-radius: $border-radius $border-radius 0 0;
        object-fit: cover;
        object-position: center bottom;
      }

      &-label {
        position: absolute;
        top: $global-spacing;
        right: $global-spacing;
        font-size: .8rem;
        color: darken(map-get($ohmyfood-theme, tertiary), 55);
        padding: calc($global-spacing / 3);
        border-radius: calc($border-radius / 4);
        background-color: map-get($ohmyfood-theme, tertiary);
      }

      &-body {
        background-color: $white;
        border-radius: 0 0 $border-radius $border-radius;
        display: flex;
        padding: $global-spacing;

        &-text {
          flex: 1;

          h3 {
            margin-top: 0;
            margin-bottom: calc($global-spacing *.5);
          }

          p {
            margin: 0;
            font-weight: 300;
          }
        }
        &-heart {
          font-size: 1.8rem;
          width: 1.8rem;
          color: lighten(map-get($ohmyfood-theme, dark-gray), 30%);
          position: relative;

          i {
            position: absolute;
          }
        }
      }
    }
  }
}
