.main-content {

  &--grey {
    background-color: map-get($ohmyfood-theme, light-gray);
    border-radius: calc($border-radius * 2) calc($border-radius * 2) 0 0;
    padding-bottom: calc($global-spacing *2);
  }

  &--over-image {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

.carte-restaurant {
  padding: $global-spacing;
  display: flex;
  flex-direction: column;

  &__item {
  flex: 1;

    &:not(:last-child) {
      margin-bottom: $global-spacing;
    }

    &-title {
      font-size: 1.2rem;
      font-weight: 300;
      text-transform: uppercase;
      margin: calc($global-spacing / 2) 0;
    }

    hr {
      width: 15%;
      border: none;
      border-top: 3px solid map-get($ohmyfood-theme, tertiary);
      text-align:left;
      margin: 0;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: $global-spacing;
  margin: $global-spacing 0;

  &__item {
    background-color: white;
    border-radius: $border-radius;
    @include shadow;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    cursor: pointer;

    &:hover > &-check,
    &:active > &-check,
    &:focus > &-check {
      margin-right: 0;
    }

    &-content {
      flex: 5;
      display: flex;
      flex-direction: column;
      padding: $global-spacing;
      overflow: hidden;
    }

    &-title {
      margin-top: 0;
      margin-bottom: calc($global-spacing / 2);
     @include ellipsis;
    }

    &-description {
      color: map-get($ohmyfood-theme, dark-gray);
      font-weight: 300;
      margin: 0;
      @include ellipsis;
    }

    &-price {
      flex: 1;
      display: flex;
      align-items: end;
      padding: $global-spacing 0;
      font-weight: 700;
    }

    &-check {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 1 4.5rem;
      background-color: map-get($ohmyfood-theme, tertiary);
      margin-right: -4.5rem;
      transition-duration: 500ms;

      &-circle {
        background-color: $white;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        i {
          color: map-get($ohmyfood-theme, tertiary);
        }
      }

    }
  }
}
