.heart-icon {
  width: 1.8rem;

  &--border {
    z-index: 50;
  }

  &--full {
    z-index: 80;
    background: linear-gradient(map-get($ohmyfood-theme, secondary), map-get($ohmyfood-theme, primary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;

    &:hover,
    &:active,
    &:focus {
      animation-name: heart;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

  }
}
