// Box sizing https://css-tricks.com/box-sizing/

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: $body-font-family;
}

.container {
  @include is('desktop') {
    max-width: 1400px;
    margin: 0 auto;
  }
}
