.footer-wrapper {
  background-color: map-get($ohmyfood-theme, dark-gray);
}

.footer {
  display: flex;
  flex-direction: column;
  padding: $global-spacing;

  @include is('tablette') {
    flex-direction: row;
    align-items: center;
    gap: $global-spacing;
  }

  &__title {
    font-family: $title-font-family;
    color: $white;
  }

  &__nav {
    display: flex;
    flex-direction: column;

    @include is('tablette') {
      flex: 1;
      flex-direction: row;
      justify-content: space-around;
    }

    &-item {
      color: $white;
      text-decoration: none;
      margin: calc($global-spacing / 3) 0;

      i {
        margin-right: calc($global-spacing / 2);
      }
    }
  }
}
