.header {
  text-align: center;
  padding: $global-spacing 0;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
  position: relative;
  z-index: 200;

  &__content {
    position: relative;
  }

  &__arrow {
    position: absolute;
    left: $global-spacing;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
  }

  &__title {
    margin: 0;
  }

  &__logo {
    max-width: 180px;
  }

  &__geolocalisation {
    background-color: map-get($ohmyfood-theme, medium-gray);
  }
}

// Titre des pages des restaurants
.page-title {
  display: flex;
  align-items: center;
  padding: $global-spacing;

  &__title {
    flex: 1;
    margin: calc($global-spacing / 2) 0;
    font-family: $title-font-family;
  }

  &__heart {
    @include heart;
    margin-right: $global-spacing;
  }
}

.home-link {
  color: $black;
}
